*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#030712;
color:white;
font-family:Arial,sans-serif;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 25px;
background:rgba(0,0,0,.8);
border-bottom:2px solid #2563eb;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
width:65px;
height:65px;
border-radius:12px;
box-shadow:0 0 20px #2563eb;
}

.logo h2{
font-size:34px;
font-weight:bold;
color:#ffffff;
text-shadow:
0 0 8px #00bfff,
0 0 15px #00bfff,
0 0 30px #2563eb,
0 0 50px #2563eb;
}

.header-icons{
display:flex;
gap:18px;
font-size:28px;
cursor:pointer;
}

.navbar{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:18px;
padding:18px;
background:#081225;
}

.navbar a{
color:white;
text-decoration:none;
font-size:18px;
}

.navbar a:hover{
color:#3b82f6;
}

.hero{
min-height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
background:radial-gradient(circle,#0b1d45,#030712);
}

.hero-content{
max-width:800px;
}

.hero h1{
font-size:58px;
text-shadow:0 0 25px #2563eb;
margin-bottom:25px;
}

.hero p{
font-size:24px;
margin-bottom:30px;
}

button{
padding:18px 45px;
border:none;
border-radius:40px;
background:#2563eb;
color:white;
font-size:22px;
cursor:pointer;
box-shadow:0 0 30px #2563eb;
}

button:hover{
transform:scale(1.05);
transition:.3s;
}

.coming{
margin-top:35px;
letter-spacing:6px;
font-size:22px;
}

footer{
text-align:center;
padding:40px;
background:#050b18;
border-top:2px solid #2563eb;
}

footer p{
margin:12px;
font-size:18px;
}
